<!DOCTYPE html>
<html>
<style>
	nav{
		background: #ff5450;
		padding: 20px 10px;
	}
	nav ul{
		max-width: 960px;
		margin: 0 auto;
		padding: 0;
	}
	nav a{
		color:#fff;
		font-size: 18px;
		background: rgba(255,255,250,0.2);
		text-decoration: none;
		padding: 10px;
		display: block;
	}
	nav li{
		list-style-type:none;
		display: inline-block;
		margin:0 10px 0 0; 
	}
	main,header{
		max-width: 960px;
		margin: 30px auto;
		padding: 0 10px;
		color:#333;
	}
</style>
<head>
	<title>Oauth</title>
</head>
<body>

	<nav>
		<ul>
			<li>
				<a href="/">HOME</a>
				<a href="/auth/logout">logout</a>
				<a href="/auth/login">login</a>
			</li>
		</ul>
	</nav>
	<header>fuckin Harry James Potter</header>
	<main>JOJO is good</main>

</body>
</html>