<!DOCTYPE html>
<html>

	<head>
		<title>Dynamic Organizer Example</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" type="text/css" href="/styles/css/main.css">
		<link href="/styles/css/calendarorganizer.min.css" rel="stylesheet" />
	</head>

	<body>
		<div class="">
			<div class="container">
				<div id="calendarContainer"></div>
				<div id="organizerContainer"></div>
			</div>
			<button class="btn btn-info btnpos"> 預約叫車 </button>
		</div>

		<script src="/scripts/calendarorganizer.min.js"></script>
		<script src="/scripts/calendarDynamically.js"></script>
	</body>

</html>
