<!DOCTYPE html>
<html>

	<head>
		<title>Dynamic</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" type="text/css" href="/styles/css/main.css">
		<link href="/styles/css/calendarorganizer.min.css" rel="stylesheet" />
		<link href="/picker/picker.css" rel="stylesheet">
	</head>

	<body>
		<div>
			<div class="container">
				<div id="calendarContainer"></div>
				<div id="organizerContainer"></div>
			</div>
			<button class="btn btn-info btnpos" data-toggle="modal" data-target="#exampleModal">
				<svg id="4plus" viewBox="0 0 5 5">
			    	<path d="M2 1.5 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z"></path>
				</svg>
			</button>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <div class="input-group input-group-lg">
					  <div class="input-group-prepend">
					  </div>
					  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="BB#####">
					</div>
					<button id="gg" type="button" class="btn" data-dismiss="modal" aria-label="Close">
						GG
					</button>
			        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <form>
			          <div class="form-group">
			          	<div class="input-group mb-3">
				            <div class="input-group-prepend">
							    <span class="input-group-text">START</span>
							</div>
							<input id="startDate"type="text" class="form-control js-date-picker" value="2018/10/24">
							<input id="startTime" type="text" class="form-control js-time-picker" value="02:56">
				        </div>
				        <div class="input-group mb-3">
				            <div class="input-group-prepend">
							    <span class="input-group-text">END</span>
							</div>
							<input id="endDate" type="text" class="form-control js-date-picker" value="2018/10/24">
							<input id="endTime" type="text" class="form-control js-time-picker" value="02:56">
				        </div>
				      </div>
			          <div class="form-group">
			            <label for="message-text" class="col-form-label">Message:</label>
			            <textarea class="form-control" id="message-text" placeholder="write something ..."></textarea>
			          </div>
			          <div class="form-group">
					    <label for="inputAddress">Address</label>
					    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
					  </div>
			        </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" data-dismiss="modal" id="woofbtn">submit</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
		<script src="/picker/picker.js"></script>
		<script src="/scripts/jquery-listswipe.js"></script>
		<script src="/scripts/calendarorganizer.min.js"></script>
		<script src="/scripts/calendarDynamically.js"></script>
	</body>

</html>
