<!DOCTYPE html>
<html>
	<head>
		<title>BN日曆排程</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="/styles/css/main.css">
		<link href="/styles/css/calendarorganizer.min.css" rel="stylesheet" />
		<link href="/picker/picker.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<!--<input id="message-location" type="text" class="cs-form-control margin-tb-10" placeholder="FFFFF"> -->
			<div class="fscContainer">
				<div id="calendarContainer"></div>
				<div id="organizerContainer"></div>
			</div>
			<button class="btn btn-info btnpos" data-toggle="modal" data-target="#exampleModal">
			<svg id="4plus" viewBox="0 0 5 5">
			<path d="M2 1.5 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z"></path>
		</svg>
		</button>
		<button id='vis' class="btn" data-toggle="modal" data-target="#exampleModal" style="width:0px; height:0px"></button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="input-group input-group-lg" style="display:  flex;">
							<div class="input-group-prepend">
							</div>
							<input id="message-title" type="text" class="cs-form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="活動的標題">
						</div>
						<button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">活動開始時間</span>
									</div>
									<input id="startDate" type="text" class="cs-form-control js-date-picker timeInput margin-tb-10" value="">
									<input id="startTime" type="text" class="cs-form-control js-time-picker timeInput margin-tb-10" value="">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">活動結束時間</span>
									</div>
									<input id="endDate" type="text" class="cs-form-control js-date-picker timeInput margin-tb-10" value="">
									<input id="endTime" type="text" class="cs-form-control js-time-picker timeInput margin-tb-10" value="">
								</div>
								<div class="row input-group mb-3" style="
									height: 15vh;
									display: flex;
									">
									<div class="col-12 input-group-prepend">
										<span class="input-group-text">重複設定</span>
									</div>
									<div class="col-6 select animated zoomIn margin-tb-10" style="
										height: 50%;
										">
										<input type="radio" name="rule">
										<span class="placeholder">不重複</span>
										<label class="option">
											<input type="radio" name="rule" value="shit" checked="true">
											<span class="title animated fadeIn">不重複</span>
										</label>
										<label class="option">
											<input type="radio" name="rule" value="RRule.DAILY">
											<span class="title animated fadeIn">每天</span>
										</label>
										<label class="option">
											<input type="radio" name="rule" value="RRule.WEEKLY">
											<span class="title animated fadeIn">每週</span>
										</label>
										<label class="option">
											<input type="radio" name="rule" value="RRule.MONTHLY">
											<span class="title animated fadeIn">每月</span>
										</label>
										<label class="option">
											<input type="radio" name="rule" value="RRule.YEARLY">
											<span class="title animated fadeIn">每年</span>
										</label>
									</div>
									<div class="col-6 select animated zoomIn margin-tb-10" style="
										height: 50%;
										">
										<input type="radio" name="period">
										<span class="placeholder">自訂週期</span>
										<label class="option">
											<input id="Gandalf" type="radio" name="period">
											<span class="title animated fadeIn">截止日期</span>
										</label>
										<label class="option">
											<input id="Mithrandir" type="radio" name="period">
											<span class="title animated fadeIn">重複次數</span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="message-text" class="col-form-label">活動地點:</label>
								<input id="message-location" type="text" class="cs-form-control margin-tb-10" placeholder="新增活動地點">
								<label for="message-text" class="col-form-label">活動內容:</label>
								<textarea id="message-text" class="cs-form-control margin-tb-10" placeholder="新增活動內容"></textarea>
								<label for="message-text" class="col-form-label">交通方式及提醒:</label>
								<div class="select animated zoomIn margin-tb-10">
									<input type="radio" name="transportation">
									<span class="placeholder">偏好的交通工具</span>
									<label class="option">
										<input type="radio" name="transportation" value="計程車" checked="true">
										<span class="title animated fadeIn">計程車</span>
									</label>
									<label class="option">
										<input type="radio" name="transportation" value="捷運">
										<span class="title animated fadeIn">捷運</span>
									</label>
									<label class="option">
										<input type="radio" name="transportation" value="公車">
										<span class="title animated fadeIn">公車</span>
									</label>
									<label class="option">
										<input type="radio" name="transportation" value="腳踏車">
										<span class="title animated fadeIn">腳踏車</span>
									</label>
									<label class="option">
										<input type="radio" name="transportation" value="火車/高鐵">
										<span class="title animated fadeIn">火車/高鐵</span>
									</label>
									<label class="option">
										<input type="radio" name="transportation" value="自行開車">
										<span class="title animated fadeIn">自行開車</span>
									</label>
								</div>
								<div class="select animated zoomIn margin-tb-10">
									<input type="radio" name="option">
									<span class="placeholder">不提醒</span>
									<label class="option">
										<input type="radio" name="option" value="">
										<span class="title animated fadeIn">不提醒</span>
									</label>
									<label class="option">
										<input type="radio" name="option" value="30" checked="true">
										<span class="title animated fadeIn">30分鐘</span>
									</label>
									<label class="option">
										<input type="radio" name="option" value="10">
										<span class="title animated fadeIn">10分鐘</span>
									</label>
									<label class="option">
										<input type="radio" name="option" value="60">
										<span class="title animated fadeIn">60分鐘</span>
									</label>
									<label class="option">
										<input id="csTime" type="radio" name="option">
										<span class="title animated fadeIn">自訂</span>
									</label>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="gg" type="button" class="btn" button-data="" data-dismiss="modal" aria-label="Close" >
							刪除
							</button>
							<button id="uu" type="button" class="btn" button-data="">
							編輯
							</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="woofbtn">確認</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJj2Wreyszitgd1b3Y09pK__W161VZaIc&libraries=places"></script>
	<script src="/picker/picker.js"></script>
	<script src="/rrule/rrule.min.js"></script>
	<!-- 	<script src="/scripts/jquery-listswipe.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
	<script src="/scripts/calendarorganizer.min.js"></script>
	<script src="/scripts/calendarDynamically.js"></script>
</body>
</html>